<%= form_for([@indicador, @indicador.comments.build]) do |f| %>
<div class="field">
    <%= f.input :contenido %>
</div>
<%= f.hidden_field :indicador_id %>
<div class="actions">
    <%= f.submit "comentar", class:"btn btn-warning" %>
</div>