		<% if user_signed_in? %>
			<a><%= link_to 'Mi Tablero' %></a>
			<a><%= link_to current_user.username, edit_user_registration_path%></a>
			<a><%= link_to '<i class="fa fa-sign-out"></i> Cerrar Sesión'.html_safe, destroy_user_session_path, :method => :delete %></a>
		<% else %>
			<a><%= link_to '<i class="fa fa-sign-in"></i> Iniciar Sesión'.html_safe, new_user_session_path%></a>
		<%end%>