<section id="banner">
	<div class="wrapper">
		<div class="content">      	
			<h1 class="title">Seguimiento, Medición y Valoración</h1>
			<h2 class="sub_title">"Nada se puede mejorar si no se mide. Nada se puede medir si no se controla. Nada se puede controlar si no se quiere"</h2>
		    <p class="sub_title">Taiichi Ohno</p>
		    <div class="button_wrapper">
		       	<a><%= link_to "explorar", procesos_path, class:"btn btn-warning" %></a>
		    </div>		  	
		</div>
	</div>
</section>		
	


<section class="caracteristicas">
<div class="container">
	<article class="item">
		<div class="icon">
			<span class="fa fa-cogs fa-4x wow bounceIn" data-wow-delay="0.1s"></span>
		</div>
		<header>
			<h3>Característica1</h3>
			<p>Lo-fi blog aesthetic swag American Apparel fanny pack. Intelligentsia craft beer mustache tofu ennui, disrupt plaid sriracha brunch. YOLO jean shorts American Apparel post-ironic semiotics, Intelligentsia 90's master cleanse ugh Vice mlkshk church-key.</p>	
		</header>				
	</article>
	<article class="item">
		<div class="icon">
			<span class="fa fa-paper-plane-o fa-4x wow bounceIn" data-wow-delay="0.4s"></span>
		</div>
		<header>
			<h3>Característica2</h3>
			<p>Lo-fi blog aesthetic swag American Apparel fanny pack. Intelligentsia craft beer mustache tofu ennui, disrupt plaid sriracha brunch. YOLO jean shorts American Apparel post-ironic semiotics, Intelligentsia 90's master cleanse ugh Vice mlkshk church-key.</p>	
		</header>		
	</article>
	<article class="item">
		<div class="icon">
			<span class="fa fa-line-chart fa-4x wow bounceIn" data-wow-delay="0.7s"></span>
		</div>
		<header>
			<h3>Característica3</h3>
			<p>Lo-fi blog aesthetic swag American Apparel fanny pack. Intelligentsia craft beer mustache tofu ennui, disrupt plaid sriracha brunch. YOLO jean shorts American Apparel post-ironic semiotics, Intelligentsia 90's master cleanse ugh Vice mlkshk church-key.</p>	
		</header>		
	</article>
</div>

</section>