$white: #FFFFFF;
$dark: #303030; /*gris oscuro */
$light: #A3A3A3; /*gris intermedio*/
$highlight: #ffA726; /*naranja*/
$hover: #D38E2A; /* ladrillo*/
$border: #D4D2D0; /*gris claro*/
$visited: #84D8D2; /*aguamarina*/
$white_opaque: rgba(250, 250, 250, .5);

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body{
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
}


.button {
	border: none;
	outline: none;
	border-radius: 2rem;
	padding: .7rem 3rem;
	font-weight: 700;
	color: $white;
	text-decoration: none;
	text-align: center;
}


.cf:after,
.cf:before {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.container{
	width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}

.container_main {
	width: 1170px;
	margin: 40 auto;
	padding: 20px 15px;
}

a {
	color: $highlight;
	&:hover {
		color: $hover;
	}
}

.alert p{
	padding: 1px 1px;
}

.bg-success p{
	padding: 1px 1px;
	padding-left: 20px;
}

.notice p{
	padding: 1px 1px;
}


	header {
		background: $white_opaque;
		border-bottom: 1px solid $border;
		padding: 2rem 0;
		position: relative;
		height: 5em;
	}
	#logo {
		color: $dark;
		font-weight: 700;
		font-size: 1.35em;
		float: left;	
		margin-left: 50px;
	}
	nav {
		float: right;
		margin-right: 50px;
		a {
			font-size: 700;
			text-decoration: none;	
			margin-left: 2rem;		
		}
	}	




/*--------------------tablero marca de agua-----------------------*/

.containerSession {
	width: 50%;
	height: 100%;
	max-width: 750px;
	background: $white_opaque;
	margin: 3em auto 3em auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 1em;
}

.containerWaterMark {
	width: 80%;
	height: 100%;
	max-width: 750px;
	background: $white_opaque;
	margin: 3em auto 3em auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 1em;
	margin-top: 10px;
}



/*--------------------pie de pagina-----------------------*/

.pie{
	width: 100%;
	padding: 15px;
	margin: 0;
	background: $white_opaque;
	border-top: 1px solid $border;
	text-align: center;
	font-size: .85rem;
	
	p{
		margin: 0;
		padding-top: 10px;
    }	
}