<section class="containerSession">
	<h1>Editar el log del indicador</h1>

	<%= render 'form' %>
</section>

<%= link_to 'Mostrar', @logind, class:"btn btn-warning" %> |
<%= link_to 'Atrás', loginds_path, class:"btn btn-default" %>
