<p>Hola <%= @resource.email %>!</p>

<p>Alguien a solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través de del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, por favor ignora este email.</p>
<p>Tu contraseña no cambiará hasta que tu ingreses al enlace mencionado y crees una nueva.</p>
