<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un numero excesivo de intentos para ingresar.</p>

<p>Click en el siguiente link poara desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
